 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

              <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="about-card">
                    <div class="text-justify">
                      <p class="small">Hello, my name is Helena, I'm 29 years old and I have been a freelance writer for more than two years. Passionate about the French language, I gained a deep knowledge throughout my university studies. With a background in legal education, I am now fully dedicated to content writing. Particularly committed to the respect of the rules of writing, I strive to offer quality, subtle and pleasant to read texts. Check out my Fiverr profile: </p>
                    </div>
                    <div class="marketplaces-about-btn text-center">
                      <!-- <a target="_blank" href="https://drive.google.com/file/d/1UXVA0b3UHMfPH0Vf5mEGYGpiKENdzXtM/view?usp=sharing" class="btn btn-lg btn-outline download-btn">
                        <i class="fa fa-download"></i> Download my CV in English
                      </a> -->
                        <a target="_blank" href="http://www.fiverr.com/s/aspw2b" class="btn btn-marketplace">
                        <img src="img/fiverr.png" class="img-marketplace">
                        </a>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="about-card">
                    <div class="text-justify">
                      <p class="small">Je m’appelle Héléna, j’ai 29 ans et je suis rédactrice freelance depuis près de deux ans. Passionnée par la langue française, j’en ai acquis une profonde connaissance tout au long de mon cursus universitaire. Issue d’une formation juridique, je me consacre désormais pleinement à la rédaction de contenu. Particulièrement attachée au respect des règles de l’écriture, je m’efforce de proposer des textes de qualité, subtiles et agréables à lire. </p>
                    </div>
                    <div class="marketplaces-about-btn text-center">
                      <a target="_blank" href="https://www.malt.fr/profile/helenaberebi" class="btn btn-marketplace">
                          <img src="img/malt.png" class="img-marketplace" >
                      </a>
                     <!--  <a target="_blank" href="https://drive.google.com/file/d/1aC6M36MskcGXOYOoXiGYv1vF3NDNoC-j/view?usp=sharing" class="btn btn-lg btn-outline download-btn">
                          <i class="fa fa-download"></i> Téléchargez mon CV en Français
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </section>
