 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

              <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="about-card">
                    <div class="text-justify">
                      <p class="small">{{ site.aboutme-eng }}</p>
                    </div>
                    <div class="marketplaces-about-btn text-center">
                      <!-- <a target="_blank" href="https://drive.google.com/file/d/1UXVA0b3UHMfPH0Vf5mEGYGpiKENdzXtM/view?usp=sharing" class="btn btn-lg btn-outline download-btn">
                        <i class="fa fa-download"></i> Download my CV in English
                      </a> -->
                        <a target="_blank" href="http://www.fiverr.com/s/aspw2b" class="btn btn-marketplace">
                        <img src="img/fiverr.png" class="img-marketplace">
                        </a>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="about-card">
                    <div class="text-justify">
                      <p class="small">{{ site.aboutme-fr }}. </p>
                    </div>
                    <div class="marketplaces-about-btn text-center">
                      <a target="_blank" href="https://www.malt.fr/profile/helenaberebi" class="btn btn-marketplace">
                          <img src="img/malt.png" class="img-marketplace" >
                      </a>
                     <!--  <a target="_blank" href="https://drive.google.com/file/d/1aC6M36MskcGXOYOoXiGYv1vF3NDNoC-j/view?usp=sharing" class="btn btn-lg btn-outline download-btn">
                          <i class="fa fa-download"></i> Téléchargez mon CV en Français
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </section>
