<section id="client">
  <div class="container">
    <div class="row client">
      <div class="col-xs-6 col-sm-3">
        <img src="img/clients/wix-com.jpg" class="img-responsive img-client" id="img-client">
      </div>
       <div class="col-xs-6 col-sm-3">
          <img src="img/clients/e-loue.png" class="img-responsive img-client" id="img-client">
      </div>
       <div class="col-xs-6 col-sm-3">
          <img src="img/clients/agence-juridique.png" class="img-responsive img-client" id="img-client">
      </div>
      <div class="col-xs-6 col-sm-3">
          <img src="img/clients/jomsy.png" class="img-responsive img-client" id="img-client">
      </div>
    </div>
  </div>
</section>
