<section id="testimonials">
  <div class="container text-center">
    <h3>Testimonials</h3>
    <div class="row">
      <div class="col-md-8 col-center m-auto">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
<!--               <div class="img-box"><img src="/examples/images/clients/1.jpg" alt=""></div> -->
              <p class="testimonial">Le travail de Belle Plume est remarquable. Au-delà d'un vrai professionnalisme, Helena a su répondre à mes attentes tout en y mêlant sa subtilité et sa créativité. D'ailleurs je lui ai tout de suite transmis un autre travail. Je la recommande vivement.</p>
              <p class="overview"><b>Lauren</b>, on Fiverr.com</p>
            </div>
            <div class="item carousel-item">
<!--               <div class="img-box"><img src="/examples/images/clients/2.jpg" alt=""></div> -->
              <p class="testimonial">Je travaille presque tous les jours en ce moment avec Helena et j'en suis très très contente ! Elle écrit pour notre blog, elle corrige site web etc… et vient de nous remettre une transcription d'un enregistrement absolument parfait ! Je suis impressionnée par son travail, son professionnalisme et sa gentillesse. Merci Helena Love you !</p>
              <p class="overview"><b>Sylvie</b>, Jomsy Fashion</p>
            </div>
            <div class="item carousel-item">
<!--               <div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div> -->
              <p class="testimonial">Great great great work! Always sooo good content! Will order again :)</p>
              <p class="overview"><b>Axel</b>, on Fiverr.com</p>
            </div>
            <div class="item carousel-item">
<!--               <div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div> -->
              <p class="testimonial">Best experience I had on Fiverr so far. I am French and I confirm that the proofreading was perfect. Amazing writing skills, I really advise you to work with her :)</p>
              <p class="overview"><b>Antoine</b>, on Fiverr.com</p>
            </div>
            <div class="item carousel-item">
<!--               <div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div> -->
              <p class="testimonial">Helena delivers supreme quality. She surpasses the traditional translator in so many ways. Her poetic feel, the way she plays with words. I can honestly tell you that she offers you the real thing and more... She is truly able to create lyric perfection! Besides this, Belle Plume is very fast and extremely professional and friendly</p>
              <p class="overview"><b>Webpagebuilder</b>, on Fiverr.com</p>
            </div>

          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fas fa-angle-left"></i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <!-- <i class="fas fa-angle-right"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

